.pageBg {
    background-color: #faf8f4;
    box-sizing: border-box;
    border-radius: 10px;
    margin: 2ch;
    min-height: 95vh;
}
.BigImg {
    object-fit: cover;
    max-width: 100%;
    height: 75vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

