.marineWriteup {
    width: 30vh;
    margin-top: 2.5vh;
}

.climatechangeContainer {
}

.climateWriteup {
    margin-top: 2.5vh;
    width: 30vh;
}

.landfillContainer {
}

.marineImg,
.climatechangeImg,
.landfillImg {
    max-width: 80%;
    margin-top: 5vh;
    height: 40%;
}
.marineImg {
    height: 40%;
}
.landfillWriteup {
    margin-top: 2.5vh;
    width: 30vh;
}
