@import url("http://fonts.cdnfonts.com/css/italiana");
html,
body {
    padding: 0;
    margin: 0;
    background-color: #f1e1c7 !important;
    -webkit-font-smoothing: antialiased;
}

a {
    text-decoration: none;
}

* {
    font-family: "Italiana", serif;
    color: black;
    box-sizing: border-box;
    font-weight: 600;
    font-size: 25px;
    /* font-size: 1.2rem; */
}

.pageBg {
    background-color: #faf8f4;
    box-sizing: border-box;
    border-radius: 10px;
    margin: 2ch;
    /* min-height: 95vh; */
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
