.login {
    display: flex;
    justify-content: right;
    padding-right: 2vw;
    padding-top: 1vh;
}

.loginText {
    margin-top: 0.2vh;
}

.topbarText {
    text-align: center;
    font-weight: normal;
    font-size: 2em;
}

.logoContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5vh;
}
.routeContainerLeft {
    float: left;
    margin-left: 5vw;
}
.routeContainerRight {
    display: flex;
    float: right;
    margin-right: 5vw;
    gap: 2vw;
}
