.login {
    display: flex;
    justify-content: right;
    padding-right: 2vw;
    padding-top: 1vh;
    /* cursor: pointer; */
}

.loginText {
    margin-top: 0.2vh;
    margin-right: 0.5vw;
}

.topbarText {
    text-align: center;
    font-weight: 400;
    font-size: 2em;
}

.logoContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5vh;
    cursor: pointer;
}
.routeContainer {
    color: black;
}
.routeContainerLeft {
    float: left;
    margin-left: 5vw;
}
.routeContainerRight {
    display: flex;
    float: right;
    margin-right: 5vw;
    gap: 2vw;
}
